*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: 1px solid red; */
}

html, body{
  font-family: Roboto;
  color:rgb(28, 28, 28);
  min-height: 100vh;
}

#main{
  display: flex;
  flex-direction: column;
  padding-top: 53px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Buttons Styling */
.red-btn{
  padding: 1rem;
  width: auto;
  display: inline-block;
  font-size: 1rem;
  margin-top: 30px;
  text-align: center;
  background-color: #d42927;
  color: #fff;
  transition: all ease .3s;
}

.red-btn:hover{
  opacity: 0.8;
  background-color: #000000;
}

/* Forms Styling */
.form-container {
  width: 320px;
  margin: 0 auto;
}

.form-container input, textarea{
  margin-bottom: 20px;
  width: 100%; 
}

.form-container input{
  padding: 5px;
  border: 1px solid #2e2925;
  outline: none;
}

.form-container form label {
  padding-bottom: 5px;
  font-size: 1rem;
  font-weight: bolder;
}

.form-container form label, .form-container form button {
  display: block;
}

.form-container form button {
  border: none;
  width: 100%;

}


/* Navbar */

#desktop-nav{
  display: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid rgb(63, 62, 62);
  
}

#side-menu {
  height: 100%;
  position: fixed;
  width: 0;
  z-index: 1;
  top: 5.5%;
  right: 0;
  overflow-x: hidden;
  padding-top: 60px;
  transition: all 0.4s ease;
  font-weight: bold;
  background-color: #fff;
}

.btn-close {
  position: absolute;
  top: 0;
  font-size: 2rem !important;
  transition: all .3s ease;
  border: none !important;
}

#side-menu a {
  text-align: center;
  text-decoration: none;
  padding: 2rem;
  font-size: 1rem;
  display: block;
  border-bottom: 1px solid rgb(63, 62, 62);
  text-transform: uppercase;
}



/* Index */
    /* slideshow */

    .slide-show-container {
      height: 70vh;
      width: 100%;
      display: flex;
      flex-direction: column; 
      align-items: center;
    }

    .slide {
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column-reverse;
    }

    .slide-active{
      display: flex;
    }

    .slide-card{
      width: 100%;
      height: 50%;
      background-color: rgb(252, 246, 237);
      padding: 2rem;
      font-size: 1.5rem;
    }
    

    /* slide fading animation */
    .slide-fade {
      -webkit-animation-name: slide-fade;
      -webkit-animation-duration: 1.5s;
      animation-name: slide-fade;
      animation-duration: 1s;
    }

    @-webkit-keyframes slide-fade {
        from {
          opacity: .4
        }
        
        to {
          opacity: 1
        }
    }

    @keyframes slide-fade {
        from {
          opacity: .4
        }

        to {
          opacity: 1
        }
    }


    .slide-card p{
      font-size: 1.3rem;
      margin-top: 30px;
      max-width: 400px;
    } 

    .slide-card-btn {
      width: 100%;        
    }

    .slide-img {
      width: 100%;
      height: 50%;
    }

    .slide-img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    /* slideshow dot controls */

    #dots-container{
      position: relative;
      bottom: 55%;
    }

    .dot{
      width: 12px;
      height: 12px;
      margin-right: 10px;
      display: inline-block;
      border-radius: 50%;
      background-color: #000000;
      opacity: 0.5;
      cursor: pointer;
      transition: background-color 0.6s ease;
    }

    .dot-active, .dot:hover {
      background-color: rgb(252, 246, 237);
    } 

    #gallery {
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      background: rgb(252, 246, 237);
      text-align: center;
      padding: 2.5rem;
      gap: 2%;
    }

    #gallery > div {flex:1;padding-right:2.5rem;}
      
      .coffee-img-1 {
        width: 100%;
        min-width: 300px;
        margin-top: 2rem;
        height: auto;
      }
      .coffee-img-1, .coffee-img-3 {
        margin-bottom: 2rem;
      }
      .coffee-img-2,
      .coffee-img-3 {
        min-width: 300px;
        width: 100%;
        flex:1;
        object-fit:cover;
        margin-top:2rem;
        height: auto;
      }
      
      .column {
        display:flex;
        flex-direction: column;
        flex: 50%;
        padding: 0 !important;
      
      }
      
      #gallery img:hover {
        animation-name: opacity-hover;
        animation-duration: 300ms;
        animation-fill-mode: forwards;
      }
      
      @keyframes opacity-hover {
        100% {
          opacity: 0.9;
        }
      }

/* Products Page */
  
  .products-container, .listing-container{
    padding: 1rem;
    width: 100%;   
}


  #products-h2 {
    padding: 1rem;
    width: 100%;
  }

  .products-box{
    width: 100%;
    margin-top: 2rem;
    cursor: pointer;
    padding-bottom: 1rem;
    border-bottom: 1px solid #2e2925;
  }
  

  .products-box img{
    height: auto;
    width: 100%;
  }
  
  .product-title{
    width: 100%;
    display: flex;
    padding-top: 10px;
    justify-content: space-between;
    padding: 5px;

  }


  /* About Page */
  .about-container{
    width: fit-content;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .about-media{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }

  .about-media a{
    text-decoration: underline;
    color: inherit;
  }

  .about-text{
    text-align: left;
  }

  /* Contact */

  
  #contact-container form h2 {
    font-size: 4rem;
    font-weight: bold;
    padding-bottom: 3rem;
    text-align: justify;
  }

  /* Login */
  #sign-in-form h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-align: center;
    
  }

  #password {
    margin-bottom: 0;
  }

  .form-link-container {
    width: 100%;
    text-align: center;
    margin-top: .85rem;
  }

  .form-link-container a{
    font-size: 14px;
    color:rgb(63, 62, 62);
  }

  .form-link-container a:hover{
    font-size: 14px;
    color:#000;
  }


  

/* Footer */
  footer {
    background: #2e2925;
    width: 100%;
    color: #fff;
    font-size: 0.85rem;
    padding: 3rem;
    margin-top: auto;
  }

  footer ul {
    list-style: none;
    text-transform: uppercase;
  }

  footer ul li {
    margin-bottom: 1rem;
  }

  footer ul li a:hover{
    color:rgb(252, 246, 237);
  }
    

  /* Items Listing Page */

  .listing-box{
    width: 100%;
    margin-top: 2rem;
    padding-bottom: 1rem;
    margin: 0 auto;
  } 

  .listing-box img{
    height: auto;
    width: 100%;
    max-width: 100%;
  }

  .listing-name{
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .listing-description{
    max-width: 100%;
    margin-top: 10px;
    margin: 0 auto;
    text-align: center;
  }
  .add-btn{
    width: 100%;
    margin-bottom: 20px;
  }

/* Medias */

  @media(min-width: 1000px){
    .slide{
      flex-direction: row;
    }

    .slide-card{
      height: 100%;
      padding-top: 10%;
    }

    #dots-container{
      position: relative;
      left: 26%;
      top: -8%;
  }
    .slide-card p{
      width: 400px;
    }
    .slide-card-btn{
      width: 50%
    }
    .contact-form-container{
      width: 50%;
    }

    .listing-container{
      width: 600px;
      margin: 0 auto;
      margin-top: 70px;
    }
}

  @media (min-width: 768px) {
    
    
    /* Navbar Medias*/

    #desktop-nav{
      display: block;
    }

    #desktop-nav {
      display: flex;
      list-style: none;
      gap: 20px;
      color: #7c6e65;
      padding: 10px;
    }

    #desktop-nav a{
      padding: 20px;
      transition: color ease 0.3s;
    }

    #desktop-nav a:hover{
      color:#2e2925;
    }
    /* Slide Medias */

    .open-slide {
      display: none;
    }
    .slide-img{
      height: 100%;
    }

    #dots-container{
      position: relative;
      bottom: 42%;

    } 


    /* Products Medias */
    .products-container{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      gap: 10px; 
      width: 600px;
    }

    
  }

  @media (min-width: 650px) {
  
    #gallery{
      margin-top: 2rem;
    } 

    .slide-card p{
      max-width: 100%;
    }
  }

  @media (max-width: 375px){
    
    #gallery{
      margin-top: 3rem;
      padding: .5rem;
    }

    .slide-show-container{
      height: 100vh;
    }


    #dots-container{
      position: relative;
      
    }
    .about-media{
      display: block;
    }
    
    .contact-form-container{
      width: 100%;
    }
  }

  @media (max-width: 320px){
    #side-menu{
      top: 9.4%;
    }
    
    .slide-show-container{
      height: 125vh;
    }
 
  }

  @media all and (max-width: 959px) and (orientation: landscape) {
    .slide-show-container{

      height: 200vh;
    }

    #dots-container{
      position: relative;
      bottom: 35%;
    } 

    .about-container{
      height: 125vh;
    }


}


@media all and (max-width: 812px) and (orientation: landscape) {

  #dots-container{
    position: relative;
    bottom: 42%;
  } 
}

@media all and (max-width: 736px) and (orientation: landscape) {

  #dots-container{
    position: relative;
    bottom: 57%;
  } 
}
