*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,body{
    font-family: Roboto;
    color:rgb(28, 28, 28)
}


a {
    text-decoration: none;
    color: inherit;
}

/* Navbar */

#desktop-nav{
    display: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(63, 62, 62);
}

#side-menu {
    height: 100%;
    position: fixed;
    width: 0;
    z-index: 1;
    top: 5.5%;
    right: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: all 0.4s ease;
    font-weight: bold;
}

.btn-close {
    position: absolute;
    top: 0;
    font-size: 2rem !important;
    transition: all .3s ease;
    border: none !important;
}

#side-menu a {
    text-align: center;
    text-decoration: none;
    padding: 2rem;
    font-size: 1rem;
    display: block;
    border-bottom: 1px solid rgb(63, 62, 62);
    text-transform: uppercase;
}

/* Medias */

@media (min-width: 768px) {
    #desktop-nav{
        display: block;
    }
    .open-slide {
        display: none;
    }
}